@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .tool-tip{
        border-bottom: 30px solid transparent;
        border-top: 30px solid transparent;
        border-right: 30px solid #f2f2f2;
        left: -12px;
        top: 18px;
        position: absolute;
    }
    .tools{
        top: 13rem;
        left: 28rem;
    }
    .opt:hover{
        box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.08);
        color: #E90606;
        cursor: pointer;
    }
    .opt:hover svg{
        stroke: #E90606 !important;
    }
    .opt:hover .text-xl{
        color: #E90606 !important;
    }
    .cor:hover{
        background-color: #FEF5F5;
        cursor: pointer;
        transition: .2s;
    }
    .cor:hover .text-sm{
        color: #f20b15 !important;
        transition: .2s;
    }
    .disabled {
        pointer-events: none;
      }
      
      .disabled .bg-heirsred {
        background-color: #FEF5F5 !important;
        color: #F69B9B;
        border: 1px solid #FDE1E1;
      }
      
      .disabled .text-heirsred {
        color: #F69B9B;
      }
      
      .completed {
        position: relative;
        background-color: #F69B9B;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-size: 0;
      }
      
      .completed::before {
        content: url("/dist/assets/Vector.png");
        margin-top: .5rem;
      }

}

